---
import { log } from 'astro/dist/core/logger/core';
import { SortDirection, SortProperty } from '../../types/enums';
import type { Post } from '../../types/post';
import { sortPosts } from '../../util/data/posts';
import { getPath } from '../../util/helper';

interface Props {
	posts: Post[];
}
const { posts } = Astro.props;

const sortedPosts: Post[] = await sortPosts(posts, SortProperty.Date, SortDirection.Desc);
---

<ul>
	{
		sortedPosts.map((post: Post) => {
			const { title, publishDate, description } = post;
			return (
				<li class="post h-feed">
					<h2>
						<a href={getPath('posts', post)}>{title}</a>
					</h2>
					<time class="date dt-published" datetime={publishDate.toString()}>
						<a href={getPath('posts', post)} class="u-url">
							{publishDate}
						</a>
					</time>
					<p>{description}</p>
					<div class="post-item-footer">
						<span class="post-item-date">— {publishDate}</span>
					</div>
				</li>
			);
		})
	}
</ul>
