---
// TODO the posts loop should be a vue component
// pages are only connecting the data layer using functions in util to pass them on to the components handling the ui
// okay and maybe they do the routing, but no logic, no styling
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import PostsList from '../../components/Posts/PostsList.astro';
import type { Post } from '../../types/post';

const title = 'Blog';
const description = 'TBD';
const permalink = 'TBD';
const socialImg = 'TBD';
const socialImgAlt = 'TBD';

const posts: Post[] = await Astro.glob('../../content/posts/*.md');
---

<DefaultLayout title={title} description={description} permalink={permalink} socialImg={socialImg} socialImgAlt={socialImgAlt}>
  <div class="container">
    <h1>Blog</h1>
    <PostsList posts={posts} />
  </div>
</DefaultLayout>