---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import { rawToLists } from '../../util/data/lists';
import { getPath } from '../../util/helper';

const title = 'Lists';
const description = 'TBD';
const permalink = 'TBD';
const socialImg = 'TBD';
const socialImgAlt = 'TBD';

const rawLists = await Astro.glob('../../content/lists/*.md');
const lists = rawToLists(rawLists);
---

<DefaultLayout
	title={title}
	description={description}
	permalink={permalink}
	socialImg={socialImg}
	socialImgAlt={socialImgAlt}
>
	<main>
		<div class="container">
			<h1>Lists</h1>
			<!-- TODO extract to ListsList.astro -->
			<ul>
				{
					lists.map((list) => {
						const { title, description } = list;
						return (
							<li class="h-feed">
								<a href={getPath('lists', list)}>
									<h2 class="title p-name">{title}</h2>
									<p>{description}</p>
								</a>
							</li>
						);
					})
				}
			</ul>
		</div>
	</main>
</DefaultLayout>
