---
import PostsList from '../../components/Posts/PostsList.astro';
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import type { Post } from '../../types/post';
import { getCategories, getPostsByCategory } from '../../util/data/categories';

export async function getStaticPaths() {
	const allPosts: Post[] = await Astro.glob('../../content/posts/*.md');
	const categories = getCategories(allPosts);
	return categories.map((category) => {
		const posts = getPostsByCategory(allPosts, category);
		return {
			params: { slug: category.slug },
			props: { category, posts },
		};
	});
}

const { category, posts } = Astro.props;

const title = category.display;
const description = 'TBD';
const permalink = 'TBD';
const socialImg = 'TBD';
const socialImgAlt = 'TBD';
---

<DefaultLayout
	title={title}
	description={description}
	permalink={permalink}
	socialImg={socialImg}
	socialImgAlt={socialImgAlt}
>
	<article class="post h-entry">
		<header>
			<h1>{title}</h1>
			<p>{description}</p>
		</header>
		<section>
			<PostsList posts={posts} />
		</section>
	</article>
</DefaultLayout>
