---
import BaseToClipboardButton from '../components/Base/BaseToClipboardButton.svelte';
import HomeLayout from '../layouts/HomeLayout.astro';
import type { Post } from '../types/post';
import { rawToLists } from '../util/data/lists';
import { rawToPosts } from '../util/data/posts';
import { rawToProjects } from '../util/data/projects';
import { getRandomItems } from '../util/helper';
import { Icon } from 'astro-icon';

const title = 'Home';
const description = 'TBD';
const permalink = 'TBD';
const socialImg = 'TBD';
const socialImgAlt = 'TBD';

const rawPosts = await Astro.glob('../content/posts/*.md');
const posts = rawToPosts(rawPosts);
const randomPosts = getRandomItems(posts, 3);

const rawProjects = await Astro.glob('../content/projects/*.md');
const projects = rawToProjects(rawProjects);
const randomProjects = getRandomItems(projects, 1);

const rawLists = await Astro.glob('../content/lists/*.md');
const lists = rawToLists(rawLists);
const randomLists = getRandomItems(lists, 2);
---

<HomeLayout
	title={title}
	description={description}
	permalink={permalink}
	socialImg={socialImg}
	socialImgAlt={socialImgAlt}
>
	<section class="heyho">
		<div class="inner">
			<img src="../images/profile.jpeg" alt="Picture of Luka Harambasic" class="profile" />
			<div class="content rich-text">
				<h2>Heyho, I'm Luka!</h2>
				<p>
					Simpler version, interstes and what I do, for more infos send to about page with a text
					and link to CV. <em>Pinnace</em> holystone mizzenmast <a>lorem ipsum</a> quarter crow's nest
					nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard.
				</p>
			</div>
		</div>
	</section>
	<section class="featured">
		<!-- <h2>Weekly recommendations</h2> -->
		<div class="project group">
			<h3 class="section-label">
				<span>Project</span>
				<Icon pack="ph" name="projector-screen-chart-duotone" />
			</h3>
			<ul>
				{
					randomProjects.map(({ title, slug, img }) => {
						return (
							<li>
								<a class="card image" href="/projects">
									<Icon pack="ph" name="arrow-circle-right-bold" />
									<img src={img} alt="TODO" width="8rem" />
									<div class="content">
										<strong>{title}</strong>
										<p>
											Row scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm.
											Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen
											halter furl. Swab barque interloper chantey doubloon starboard grog black jack
											gangway rutters.
										</p>
									</div>
								</a>
							</li>
						);
					})
				}
			</ul>
		</div>
		<div class="posts group">
			<h3 class="section-label">
				<span>Posts</span>
				<Icon pack="ph" name="files-duotone" />
			</h3>
			<ul>
				{
					randomPosts.map((post: Post) => {
						return (
							<li>
								<a class="card text" href={post.path}>
									<Icon pack="ph" name="arrow-circle-right-bold" />
									<time class="date dt-published" datetime={post.publishDate.toString()}>
										{post.publishDateFormatted}
									</time>
									<strong>{post.title}</strong>
								</a>
							</li>
						);
					})
				}
			</ul>
		</div>
		<div class="lists group">
			<h3 class="section-label">
				<span>Lists</span>
				<Icon pack="ph" name="clipboard-text-duotone" />
			</h3>
			<ul>
				{
					randomLists.map(({ title, description, slug }) => {
						return (
							<li>
								<a class="card text" href={slug && ''}>
									<Icon pack="ph" name="arrow-circle-right-bold" />
									<strong>{title}</strong>
									<p>{description}</p>
								</a>
							</li>
						);
					})
				}
			</ul>
		</div>
	</section>
	<section class="contact">
		<div class="group">
			<div class="meta">
				<strong>E-Mail</strong>
				<small>luka..harambasic.de</small>
			</div>
			<div class="segmented-buttons">
				<a href="mailto:luka..harambasic.de" class="button">Write</a>
				<BaseToClipboardButton client:idle toClipboard="luka..harambasic.de"
					>Copy</BaseToClipboardButton
				>
			</div>
		</div>
		<div class="group">
			<div class="meta">
				<strong>Social</strong>
				<small>Follow me!</small>
			</div>
			<div class="segmented-buttons">
				<a href="https://www.linkedin.com/in/harambasic/" class="button">LinkedIn</a>
				<a href="https://mstdn.social/..luha" class="button">Mastodon</a>
			</div>
		</div>
		<div class="group">
			<div class="meta">
				<strong>Book a time</strong>
				<small>Wanna chat?</small>
			</div>
			<div class="segmented-buttons">
				<a href="https://cal.com/luhara/p" class="button">Book</a>
			</div>
		</div>
	</section>
	<!-- <section class="mastodon">[toot] [toot] [toot]</section> -->
</HomeLayout>

<style>
	.heyho {
		display: flex;
		position: relative;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: stretch;
		justify-content: flex-start;
		align-items: stretch;
		gap: var(--l);
		width: var(--layout-l);
		.inner {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: stretch;
			justify-content: flex-start;
			align-items: flex-end;
			gap: var(--l);
			.profile {
				size: 18rem;
				border-radius: var(--border-radius);
			}
			.content {
				h2 {
					margin: 0 0 0.5rem 0;
					font-weight: 900;
					font-size: var(--font-l);
					font-family: var(--font-family);
					letter-spacing: var(--font-letter-spacing-headline);
				}
				p {
					font-weight: normal;
					line-height: 1.5;
				}
			}
		}
	}
	.featured {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: stretch;
		justify-content: flex-start;
		align-items: stretch;
		gap: var(--l);
		width: 100%;
		.group {
			position: relative;
			h3 {
				display: flex;
				position: absolute;
				top: 1.8rem;
				left: -11rem;
				flex-wrap: nowrap;
				align-content: center;
				justify-content: flex-end;
				align-items: center;
				gap: 0.25rem;
				width: 10rem;
				height: 1.5rem;
				font-weight: 600;
				font-size: var(--font-m);
				font-family: var(--font-family);
				letter-spacing: var(--font-letter-spacing-headline);
				text-align: right;
				span {
					line-height: 1;
				}
				svg {
					size: 1.5rem;
				}
			}
			> ul {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-content: stretch;
				justify-content: flex-start;
				align-items: stretch;
				gap: var(--l);
				> li {
					flex: 1 1 auto;
					&:first-child:nth-last-child(1),
					&:first-child:nth-last-child(1) ~ li {
						width: 100%;
					}
					&:first-child:nth-last-child(2),
					&:first-child:nth-last-child(2) ~ li {
						width: calc(100% / 2);
					}
					&:first-child:nth-last-child(3),
					&:first-child:nth-last-child(3) ~ li {
						width: calc(100% / 3);
					}
					.card {
						display: block;
						position: relative;
						transition: var(--transition);
						border-radius: var(--border-radius);
						background: var(--c-surface);
						height: 100%;
						color: var(--c-font);
						text-decoration: none;
						&:hover {
							transform: scale(1.05);
							cursor: pointer;
							svg {
								opacity: 1;
							}
						}
						svg {
							size: var(--l);
							position: absolute;
							top: var(--m);
							right: calc((-1) * var(--m));
							opacity: 0;
							transition: var(--transition);
							border: 4px solid var(--c-light);
							border-radius: 100%;
							background: var(--c-light);
						}
						&.text {
							padding: var(--l);
						}
						&.image {
							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							align-content: stretch;
							justify-content: flex-start;
							align-items: stretch;
							gap: var(--xs);
							> img {
								flex: 1 0 auto;
								border-radius: var(--border-radius) 0 0 var(--border-radius);
								aspect-ratio: 1 / 1;
								width: 12rem;
								height: 12rem;
							}
							> .content {
								padding: var(--l);
							}
						}
					}
					> a {
						strong {
							display: block;
							margin: 0 0 var(--xs) 0;
							font-weight: 900;
							font-size: var(--font-m);
							line-height: 1.2;
							font-family: var(--font-family);
							letter-spacing: var(--font-letter-spacing-headline);
						}
						time {
							display: inline-block;
							margin: 0 0 var(--xs) 0;
							font-size: var(--font-s);
						}
						p,
						.description {
							line-height: 1.5;
						}
					}
				}
			}
		}
	}
	.contact {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: stretch;
		justify-content: flex-start;
		align-items: stretch;
		width: var(--layout-m);
		.group {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: stretch;
			justify-content: space-between;
			align-items: flex-start;
			border-bottom: 1px solid var(--c-surface);
			padding: var(--l);
			.meta {
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				align-content: stretch;
				justify-content: flex-start;
				align-items: stretch;
				strong {
					margin: 0 0 var(--xs) 0;
					font-weight: 900;
					font-size: var(--font-m);
					line-height: 1.2;
					font-family: var(--font-family);
					letter-spacing: var(--font-letter-spacing-headline);
				}
				small {
					font-size: var(--font-s);
				}
			}
		}
	}
</style>
