---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import { Image } from '@astrojs/image/components';
import profileImage from '../assets/img/profile.jpeg';

const title = 'Posts';
const description = 'TBD';
const permalink = 'TBD';
const socialImg = 'TBD';
const socialImgAlt = 'TBD';
---

<DefaultLayout
	title={title}
	description={description}
	permalink={permalink}
	socialImg={socialImg}
	socialImgAlt={socialImgAlt}
>
	<section class="about">
		<Image src={profileImage} width={400} aspectRatio="1:1" alt="Picture of Luka Harambasic" />
		<div class="content">
			<h2>Hi, I'm Luka!</h2>
			<p>
				I'm a German based in Copenhagen (Denmark). Currently, I am studying MSc Technology
				Entrepreneurship @ DTU. Previously, I worked as Mobile UX Technology Consultant @ SAP (<a
					data-v-5bfd21b4=""
					href="https://www.linkedin.com/in/harambasic/"
					rel="nofollow noopener noreferrer"
					target="_blank">LinkedIn</a
				>). Also feel free to take a look at some of my previous <a
					data-v-5bfd21b4=""
					href="/projects"
					class="">projects</a
				>. If you want to <a data-v-5bfd21b4="" href="mailto:business@harambasic.de" rel="me"
					>chat</a
				>, just start a conversation about handball, woodworking, or cooking.
			</p>
		</div>
	</section>
	<section class="featured">
		<div class="project">[project]</div>
		<div class="posts">[post] [post] [post]</div>
		<div class="lists">[list] [list]</div>
	</section>
	<section class="mastodon">[toot] [toot] [toot]</section>
</DefaultLayout>
