---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import { Picture } from '@astrojs/image/components';
import profileImage from '../assets/image/profile.jpeg';
import { rawToPosts } from '../util/data/posts';
import { getRandomItems } from '../util/helper';
import { rawToProjects } from '../util/data/projects';
import { rawToLists } from '../util/data/lists';

const title = 'Home';
const description = 'TBD';
const permalink = 'TBD';
const socialImg = 'TBD';
const socialImgAlt = 'TBD';

const rawPosts = await Astro.glob('../content/posts/*.md');
const posts = rawToPosts(rawPosts);
const randomPosts = getRandomItems(posts, 3);

const rawProjects = await Astro.glob('../content/projects/*.md');
const projects = rawToProjects(rawProjects);
const randomProject = getRandomItems(projects, 1)[0];

const rawLists = await Astro.glob('../content/lists/*.md');
const lists = rawToLists(rawLists);
const randomLists = getRandomItems(lists, 2);
---

<DefaultLayout
	title={title}
	description={description}
	permalink={permalink}
	socialImg={socialImg}
	socialImgAlt={socialImgAlt}
>
	<section class="about">
		<Picture
			src={profileImage}
			widths={[200, 400]}
			sizes="(max-width: 400px) 100vw, 400px"
			aspectRatio="1:1"
			alt="Picture of Luka Harambasic"
		/>
		<div class="content">
			<h2>Hi, I'm Luka!</h2>
			<p>
				I'm a German based in Copenhagen (Denmark). Currently, I am studying MSc Technology
				Entrepreneurship @ DTU. Previously, I worked as Mobile UX Technology Consultant @ SAP (<a
					href="https://www.linkedin.com/in/harambasic/"
					rel="nofollow noopener noreferrer"
					target="_blank">LinkedIn</a
				>). Also feel free to take a look at some of my previous <a href="/projects">projects</a>.
				If you want to <a href="mailto:business@harambasic.de" rel="me">chat</a>, just start a
				conversation about handball, woodworking, or cooking.
			</p>
		</div>
	</section>
	<section class="featured">
		<h2>Weekly recommendations</h2>
		<div class="project">
			<h3>Project</h3>
			<strong>{randomProject.title}</strong>
		</div>
		<div class="posts">
			<h3>Posts</h3>
			<ul>
				{
					randomPosts.map((post) => {
						return (
							<li>
								<strong>{post.title}</strong>
							</li>
						);
					})
				}
			</ul>
		</div>
		<div class="lists">
			<h3>Lists</h3>
			<ul>
				{
					randomLists.map((list) => {
						return (
							<li>
								<strong>{list.title}</strong>
							</li>
						);
					})
				}
			</ul>
		</div>
	</section>
	<!-- <section class="mastodon">[toot] [toot] [toot]</section> -->
</DefaultLayout>
