---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import { Picture, Image } from '@astrojs/image/components';
import profileImage from '../assets/images/profile.jpeg';
import { rawToPosts } from '../util/data/posts';
import { getRandomItems } from '../util/helper';
import { rawToProjects } from '../util/data/projects';
import { rawToLists } from '../util/data/lists';
import { Icon } from 'astro-icon';

const title = 'Home';
const description = 'TBD';
const permalink = 'TBD';
const socialImg = 'TBD';
const socialImgAlt = 'TBD';

const rawPosts = await Astro.glob('../content/posts/*.md');
const posts = rawToPosts(rawPosts);
const randomPosts = getRandomItems(posts, 3);

const rawProjects = await Astro.glob('../content/projects/*.md');
const projects = rawToProjects(rawProjects);
const randomProjects = getRandomItems(projects, 1);

const rawLists = await Astro.glob('../content/lists/*.md');
const lists = rawToLists(rawLists);
const randomLists = getRandomItems(lists, 2);
---

<DefaultLayout
	title={title}
	description={description}
	permalink={permalink}
	socialImg={socialImg}
	socialImgAlt={socialImgAlt}
>
	<main>
		<section class="hi">
			<!-- <h3 class="section-label">
				<span>Heyho</span>
				<Icon pack="ph" name="hand-waving-duotone" />
			</h3> -->
			<div class="inner">
				<Picture
					src={profileImage}
					widths={[200, 400]}
					sizes="(max-width: 400px) 100vw, 400px"
					aspectRatio="1:1"
					alt="Picture of Luka Harambasic"
					class="profile"
				/>
				<div class="content rich-text">
					<h2>Heyho, I'm Luka!</h2>
					<p>
						Simpler version, interstes and what I do, for more infos send to about page with a text
						and link to CV.<u>Pinnace</u> holystone mizzenmast <a>lorem ipsum</a> quarter crow's nest
						nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard.
					</p>
					<p>
						Row scuttle parrel <a>lorem ipsum</a>provost Sail ho shrouds spirits boom mizzenmast
						yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen <u
							>halter furl</u
						>.
					</p>
				</div>
			</div>
		</section>
		<section class="featured">
			<h2>Weekly recommendations</h2>
			<div class="project group">
				<h3 class="section-label">
					<span>Project</span>
					<Icon pack="ph" name="projector-screen-chart-duotone" />
				</h3>
				<ul>
					{
						randomProjects.map(({ title, slug, img }) => {
							return (
								<li>
									<a class="card image " href={slug && ''}>
										<Icon pack="ph" name="arrow-circle-right-bold" />
										<img src={img} alt="TODO" width="8rem" />
										<div class="content">
											<strong>{title}</strong>
											<p>
												Row scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm.
												Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm
												hempen halter furl. Swab barque interloper chantey doubloon starboard grog
												black jack gangway rutters.
											</p>
										</div>
									</a>
								</li>
							);
						})
					}
				</ul>
			</div>
			<div class="posts group">
				<h3 class="section-label">
					<span>Posts</span>
					<Icon pack="ph" name="files-duotone" />
				</h3>
				<ul>
					{
						randomPosts.map(({ title, publishDate, slug, publishDateFormatted }) => {
							return (
								<li>
									<a class="card text" href={slug && ''}>
										<Icon pack="ph" name="arrow-circle-right-bold" />
										<time class="date dt-published" datetime={publishDate}>
											{publishDateFormatted}
										</time>
										<strong>{title}</strong>
									</a>
								</li>
							);
						})
					}
				</ul>
			</div>
			<div class="lists group">
				<h3 class="section-label">
					<span>Lists</span>
					<Icon pack="ph" name="clipboard-text-duotone" />
				</h3>
				<ul>
					{
						randomLists.map(({ title, description, slug }) => {
							return (
								<li>
									<a class="card text" href={slug && ''}>
										<Icon pack="ph" name="arrow-circle-right-bold" />
										<strong>{title}</strong>
										<p>{description}</p>
									</a>
								</li>
							);
						})
					}
				</ul>
			</div>
		</section>
	</main>
	<!-- <section class="mastodon">[toot] [toot] [toot]</section> -->
</DefaultLayout>

<style>
	main {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: center;
		gap: var(--xl);
	}
	.section-label {
		position: absolute;
		top: 1.8rem;
		left: -11rem;
		width: 10rem;
		height: 1.5rem;
		text-align: right;
		font-weight: 600;
		font-size: 1rem;
		font-family: 'Source Sans Pro', sans-serif;
		letter-spacing: 0.2px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-content: center;
		align-items: center;
		gap: 0.25rem;
		span {
			line-height: 1;
		}
		svg {
			size: 1.5rem;
		}
	}
	.hi {
		position: relative;
		width: 80%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: stretch;
		gap: var(--l);
		.inner {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: stretch;
			gap: var(--l);
			.profile {
				size: 18rem;
				border-radius: var(--border-radius);
			}
			.content {
				h2 {
					margin: 0 0 0.5rem 0;
					font-height: 1.25;
					font-weight: bold;
				}
				p {
					font-weight: normal;
					line-height: 1.5;
				}
			}
		}
	}
	.featured {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: stretch;
		gap: var(--l);
		h2 {
			text-align: center;
			font-weight: 900;
			font-size: 1rem;
			font-family: 'Source Sans Pro', sans-serif;
			letter-spacing: 0.2px;
		}
		.group {
			position: relative;
			> ul {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-content: stretch;
				align-items: stretch;
				gap: var(--l);
				> li {
					flex: 1 1 auto;
					&:first-child:nth-last-child(1),
					&:first-child:nth-last-child(1) ~ li {
						width: 100%;
					}
					&:first-child:nth-last-child(2),
					&:first-child:nth-last-child(2) ~ li {
						width: calc(100% / 2);
					}
					&:first-child:nth-last-child(3),
					&:first-child:nth-last-child(3) ~ li {
						width: calc(100% / 3);
					}
					.card {
						position: relative;
						display: block;
						height: 100%;
						background: var(--c-surface);
						border-radius: var(--border-radius);
						color: var(--c-font);
						text-decoration: none;
						transition: var(--transition);
						overflow: hidden;
						&:hover {
							transform: scale(1.05);
							cursor: pointer;
							svg {
								right: var(--m);
							}
						}
						svg {
							position: absolute;
							right: -2rem;
							top: var(--m);
							size: 1.5rem;
							transition: var(--transition);
						}
						&.text {
							padding: var(--l);
						}
						&.image {
							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							justify-content: flex-start;
							align-content: stretch;
							align-items: stretch;
							gap: var(--xs);
							> img {
								width: 12rem;
							}
							> .content {
								padding: var(--l);
							}
						}
					}
					> a {
						strong {
							display: block;
							margin: 0 0 var(--xs) 0;
							font-weight: 900;
							font-size: 1rem;
							font-family: 'Source Sans Pro', sans-serif;
							letter-spacing: 0.2px;
							line-height: 1.2;
						}
						time {
							display: inline-block;
							font-size: 0.8rem;
							margin: 0 0 var(--xs) 0;
						}
						p,
						.description {
							line-height: 1.5;
						}
					}
				}
			}
		}
	}
</style>
