---
import BaseFootnote from '../../components/Base/BaseFootnote.astro';
import ProjectsList from '../../components/Projects/ProjectsList.svelte';
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import { rawToProjects, rawToResponsibilities } from '../../util/data/projects';

const title = 'Projects';
const description = 'TBD';
const permalink = 'TBD';
const socialImg = 'TBD';
const socialImgAlt = 'TBD';

const rawProjects = await Astro.glob('../../content/projects/*.md');
const projects = rawToProjects(rawProjects);
const categories = rawToResponsibilities(projects);
---

<DefaultLayout
	title={title}
	description={description}
	permalink={permalink}
	socialImg={socialImg}
	socialImgAlt={socialImgAlt}
>
	<section>
		<h2>Selected projects</h2>
		<p>Technopreneur, Sparkle?, veggie2.0, gk?, monta?</p>
	</section>
	<ProjectsList client:load projects={projects} />
	<section>
		<BaseFootnote>
			If you want to learn more about the projects, please do not hesitate to send me an
			<a href="globals.mailto">email</a>.
		</BaseFootnote>
	</section>
</DefaultLayout>
