---
import LayoutFooter from '@/components/Layout/LayoutFooter.astro'
import LayoutHead from '@/components/Layout/LayoutHead.astro'
import LayoutHeader from '@/components/Layout/LayoutHeader.astro'
import LayoutSkipToContent from '@/components/Layout/LayoutSkipToContent.astro'
import '@/styles/global.css'
import '@/styles/reset.css'
import '@/styles/variables.css'

interface Props {
	title: string
	description: string
	permalink: string
	socialImg: string
	socialImgAlt: string
}

const { title, description, permalink, socialImg, socialImgAlt } = Astro.props
---

<html lang="en">
	<head>
		<LayoutHead
			title={title}
			description={description}
			permalink={permalink}
			socialImg={socialImg}
			socialImgAlt={socialImgAlt}
		/>
	</head>
	<body>
		<LayoutSkipToContent />
		<div class="container">
			<LayoutHeader />
			<main id="main">
				<slot />
			</main>
			<LayoutFooter />
		</div>
		<style is:global>
			.container {
				display: grid;
				grid-template-rows: auto 1fr auto;
				grid-template-columns: 1fr var(--layout-xl) 1fr;
				grid-template-areas: '. header .' '. main .' '. footer .';
				row-gap: var(--xxl);
				padding: var(--xl) 0;
				width: 100%;
				height: auto;
				min-height: 100vh;
				> header {
					grid-area: header;
				}
				> main {
					display: flex;
					grid-area: main;
					flex-direction: column;
					flex-wrap: nowrap;
					align-content: stretch;
					justify-content: flex-start;
					align-items: center;
					gap: var(--xxl);
				}
				> footer {
					grid-area: footer;
				}
			}
		</style>
	</body>
</html>
